<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/chicken_karahi"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.example.project.LoginActivity"
            android:label="@string/screen_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.project.MainActivity"
            android:label="@string/screen_name0" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       
        <activity
         android:name="com.example.project.RestaurantMenu"
         android:label="@string/screen_name1"
         android:parentActivityName="com.example.project.MainActivity" >
         
      </activity>
      
        <activity
            android:name="com.example.project.ItemDetailsActivity"
            android:label="Item Details : " 
            android:parentActivityName="com.example.project.RestaurantMenu" >
        </activity>
        
         <activity
            android:name="com.example.project.DealsDetail"
            android:label="Deal Details : " 
             android:parentActivityName="com.example.project.Deals">
        </activity>
      
      <activity
         android:name="com.example.project.RegisterActivity"
         android:label="@string/Screen_title0" >
      </activity>
      
      <activity
            android:name="com.example.project.OrderStatus"
            android:label="@string/screen_name0"
             android:parentActivityName="com.example.project.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
      
      <activity
            android:name="com.example.project.User"
            android:label="@string/screen_name0" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.project.Deals"
            android:label="@string/screen_name0" 
            android:parentActivityName="com.example.project.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.project.Basket"
            android:label="@string/screen_name0" 
            android:parentActivityName="com.example.project.MainActivity">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
      
    </application>

</manifest>
